---

- name: install rust by script
  block:
  - name: download installer
    get_url:
      url: https://sh.rustup.rs/
      dest: /tmp/rust-installer.sh

  - name: install rust
    script: /tmp/rust-installer.sh -y
    register: install
    changed_when: "'existing' not in install.stderr"

  - name: enable path
    shell: . ~/.cargo/env
    when: "'existing' not in install.stderr"

- name: install rust by apt
  when: ansible_pkg_mgr == "apt"
  become: yes
  apt:
    name: "{{ item }}"
  with_items:
    - rustc
    - cargo
